body.dark-theme {
  background-color: rgb(28, 28, 30);
  color: rgb(188, 188, 186);
  a {
    &:link {
      color: MediumSlateBlue
    }
    &:visited {
      color: SlateBlue
    }
    &:hover {
      color: DodgerBlue
    }
  }
}

@media (min-width: 576px) {
  p {
    text-align: justify;
    text-justify: inter-word;
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#theme-switch {
  text-decoration: none;
  span {
    text-decoration: underline;
    font-weight: light;
    color: rgba(128, 128, 128, 0.7);
  }
}

.img-gallery img {
  width: 93%;
}

abbr, .abbr {
  font-size: smaller;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

.sup-left {
  padding-right: 2px;
}

.sup-right {
  padding-left: 2px;
}

h1:not(#title) {
  font-size: 2rem;
  padding-top: 1rem;
}

.header-section-number {
  font-size: smaller;
  font-weight: normal;
  &:after {
    content: ".";
  }
}

