{% capture hkey %}{{include.source}}/fulls{% endcapture %}
<div class="row no-gutters img-gallery">
{% for img in site.static_files | sorted %}
{% if img.path contains hkey %}
{% capture iname %}{{img.path | split: "/" | last | split: "." | first}}{% endcapture %}
{% capture iext %}{{img.path | split: "." | last}}{% endcapture %}
<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
<a href="imgs/{{include.source}}/fulls/{{iname}}.{{iext}}" data-toggle="lightbox" data-gallery="{{include.source}}">
<img src="imgs/{{include.source}}/thumbs/{{iname}}_thumb.{{iext}}" alt="{{iname}}" class="img-fluid img-thumbnail">
</a>
</div>
{% endif %}
{% endfor %}
</div>
